.item {
    font-size: 1.2rem;
    list-style-type: none;
    padding: 17px 0px;
    border-bottom: 1px solid #eaeaea;
    animation: FadeIn 0.5s;
}

.checkbox {
    margin-right: 15px;
}

.item button {
    font-size: 13px;
    background: #f1f3f4;
    border: none;
    cursor: pointer;
    float: right;
    outline: none;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    margin: -10px 0 0 10px;
}

.textInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #dfdfdf;
}

.header {
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 1em;
    color: #958F9D;
    text-transform: lowercase;
    text-align: center;
    animation: FadeIn 4s;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}